<?xml version="1.0"?>

<f:view
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
>
    <h:head>
        <h:outputStylesheet library="css" name="main.css" />
    </h:head>
    <h:form>
        <h:messages globalOnly="true" />
        <h:outputLabel value="#{i18n['enter-your-name']}" />
        <h:inputText value="#{intelygenzHelloBackbean.name}" />
        <h:commandButton actionListener="#{intelygenzHelloBackbean.submit}" value="#{i18n['submit']}">
            <f:ajax execute="@form" render="@form" />
        </h:commandButton>
        <br />
        <h:outputText value="Hello #{intelygenzHelloBackbean.name}" />
    </h:form>
</f:view>